/* Reset */

html {

}

body {

	font-family: sans-serif;

}
a:active, a:hover, a:focus {
    outline: 0;
    color: #b58930!important;
    transition: .3s;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {

	padding: 10px 20px;

}
p, b, strong, em {
	display:block;
}
q:before, q:after {

	font-size: 24px;
	padding:10px;

}

b, strong {
    font-weight: 700;
    font-size: 16px;
}

i {

	padding: 5px 10px ;
}

ul li {
	padding: 5px 10px;
}
/*
footer {
	background: #4d4d4d;
    padding: 20px;
    color: #fff;
}*/
figure {

	padding-bottom: 20px;
    background: url(../img/circule-langkongan.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #e1d47f;
    border-radius: 50%;
    height: 373px;
    width: 100%;
}

figure img.img-rounded {
	border-radius: 50%;
    width: 100%;
    padding: 15%;
}

.sidebar .inner {

    position: fixed;
    float: left;
    width: 360px;

}
.cv-description p {

	font-size:18px;

}

.cv-name {
	padding: 0;
}

.sidebar .cv-description {

	padding:20px;

}
.sidebar .cv-description.mobile{
	display:none;
}
.cv-content {

	background: white;

}

.wrapper {


	padding-bottom:35px;
	background: white;

}
.panel-heading {

	background-image:none!important;
	color: #333;
    background-color: #c7dfe6;
    border-color: #c2dfe5;
}

.title-h2 {

	color: #fff;
    background-color: #4d4d4d;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}

.sidebar {

	position: relative;
}

.sidebar ul li {
	    padding: 5px 5px;
}

/* Override Bootstrap classes */

.list-group {

	margin-top:20px;
	box-shadow: none!important;

}

.list-group-item {

	background-color: transparent;
    border: none;
}
.list-group-item a {

	font-size: 15px;
	color: #000000;
}

.cv-content .entry {
	text-indent:20px;
}
/* Mobile view */

@media only screen and (max-width: 992px) {

	.container {
		padding:30px 30px;
	}
	.list-group li a, li, strong, p, a {

		font-size: 20px;
	}

	.cv-description.desktop {
		display:none;
	}
	.sidebar {

	    background: #ffffff;
	    border-top-left-radius: 200px;
	    border-top-right-radius: 200px;


	}
	.sidebar .cv-description.mobile {

		display:block!important;

	}


	figure {
		height:auto;
		width:auto;
	}
	.sidebar .cv-description.mobile h1, .sidebar .cv-description.mobile p  {

		text-align: center;

	}

	.sidebar .cv-description.mobile h1 {

		font-size: 2.8em;

	}

}

/* Table view */

@media only screen and (min-width: 992px) and (max-width: 1200px) { 


	figure {
		background-size: contain;
		height: 294PX;
    	width: 294PX;
	}
}